<script setup lang="ts">
import { useStrokes } from "./use-strokes.ts";
import { useDark } from "@vueuse/core";
import MdiClose from "./icons/MdiClose.vue";
import MdiThemeLightDark from "./icons/MdiThemeLightDark.vue";

const isDark = useDark();

const { listeners, clear, render: strokes } = useStrokes();
</script>

<template>
  <svg v-on="listeners">
    <path
      v-for="{ path, key, sliding } in strokes"
      :key="key"
      :d="path"
      :data-sliding="sliding ? '' : null"
    />
  </svg>

  <div class="fixed top-0 left-0 p-1 flex flex-col gap-1">
    <button @click="clear">
      <MdiClose />
    </button>
    <button @click="isDark = !isDark">
      <MdiThemeLightDark />
    </button>
  </div>
</template>

<style lang="scss">
:root {
  --c-black: #2b2c28; // jed
  --c-black-stroke-slide: #2b2c2880;
  --c-white: #fffafb; // snow
  --c-white-stroke-slide: #fffafb80;
}

#app {
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-family);
}

html body {
  background: var(--c-white);
}

html.dark {
  body {
    background: var(--c-black);
  }
}
</style>

<style scoped lang="scss">
svg {
  height: 100%;
  width: 100%;
  touch-action: none;

  path {
    fill: var(--c-black);
    transition: all 0.3s ease;

    html.dark & {
      fill: var(--c-white);
    }

    &[data-sliding] {
      fill: var(--c-black-stroke-slide);

      html.dark & {
        fill: var(--c-white-stroke-slide);
      }
    }
  }
}

button {
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;

  svg {
    font-size: 24px;
  }
}
</style>
